.footer {
  background-color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: baseline;
  }
}

.footer-block-logoaddress {
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-block-addressjoin {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;
  }
}
