.modal__field {
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  padding-right: 10px;
  outline: none;
  &:focus {
    border-color: var(--accent);
    + .modal__icon {
      fill: var(--accent);
    }
  }
}

.modal__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
  &:focus {
    border-color: var(--accent);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__btn {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.modal__box {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal__policy-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  @extend %flex-setting;
  margin-bottom: 30px;
}

.modal__policy-link {
  text-decoration: underline;
  color: var(--accent);
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
}

.modal__policy-checkbox {
  @extend %flex-setting;
  width: 16px;
  height: 15px;
  border: 0.2px solid #000000;
  border-radius: 1px;
  margin-right: 7px;
}

.modal__policy-icon {
  display: flex;
  fill: var(--main-title-color);
}

.modal__policy:checked + .modal__policy-text {
  .modal__policy-checkbox {
    background-color: var(--accent);
    border: none;
  }
}
