.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

.ourteam-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 10px;
}

.ourteam-list__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.ourteam-list__titletext {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ourteam-list {
  display: flex;
  justify-content: space-between;
}

.ourteam-list__link {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam {
  background-color: var(--background-portfolio-btn);
  padding-bottom: 94px;
}

.social-list {
  @extend %flex-setting;
}

.social-list__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  @extend %flex-setting;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent);
    color: #ffffff;
  }
}

.social-list__icon {
  fill: currentColor;
}
